footer {
  padding: 2rem;
  background-color: var(--text-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a, p {
  color: var(--white);
}

footer .footer .footer-top > div {
  display: flex;
  justify-content: space-between;
}

footer .footer .footer-bottom {
  font-size: 9pt;
}